<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.slskd.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/rd/.local/bin/slskd</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>CrashedLastTime</key>
        <false/>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ThrottleInterval</key>
    <integer>30</integer>
    <key>WorkingDirectory</key>
    <string>/Users/rd/Applications/slskd</string>
    <key>StandardOutPath</key>
    <string>/Users/rd/Library/Logs/slskd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/rd/Library/Logs/slskd.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/rd</string>
    </dict>
</dict>
</plist>
